.battlefield {
    display: block;
    position:absolute;
    height:100%;
    width:100%;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: black;
}

#input {
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index:99;
    height:100%;
    width:100%;
    background-color: black;
    color: green;
    border: thick solid green;
    overflow:hidden;
    overflow-y: scroll;
    box-sizing:border-box;
}

#map {
    position: fixed;
    top: 0;
    height: 200px;
    width: 200px;
    right: 0;
    z-index: 100;
    background-color: black;
    color: green;
    border: thin solid green;
    overflow: hidden;
    box-sizing: border-box;
}

#map td {
    text-align: center;
}
