textarea { overflow: auto; }

.battlefield {
    display: block;
    position:absolute;
    height:100%;
    width:100%;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: black;
}

.battlefield textarea {
    display: block;
    position:absolute;
    height:100%;
    width:100%;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: black;
    color: green;
    border: none;
}
